.custom_form_pairs {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 1rem;
  align-items: center;
  /* justify-content: center; */
}

.custom_form_pairs label {
  text-align: right;
  padding-right: 0.75rem;
  /* min-width helps with alignment */
  min-width: 25%;
  color: var(--color-body);
}

.custom_form_pairs input, .custom_form_pairs textarea {
  display: flex;
  padding: 0.5rem;
  border: 1px solid rgba(209, 213, 219, 1);
  border-radius: 0.375rem;
  width: 50%;
}

.custom_form_pairs textarea {
    height: 8rem;
}

/* input:valid {
  border: 1px solid rgba(209, 213, 219, 1);
} */

@media screen and (max-width: 768px) {
  .custom_form_pairs {
    flex-direction: column;
  }
  .custom_form_pairs input, textarea {
    width: 80%;
  }

  .custom_form_pairs label {
    display: flex;
    align-items: start;
    justify-content: left;
    /* padding-left: 0; */
    width: 80%;
  }
}

.custom_form_pairs input:focus, .custom_form_pairs textarea:focus {
    background-color: #f9f9f9;  /* Change the background color when the input is focused */
    border-color: var(--custom-gray-color);          /* Change the border color */
    outline: none;               /* Optional: Remove the default focus outline */
}

.custom_form_pairs input:focus:invalid {
  border-color: var(--custom-gray-color-02);
}


/* --custom-primary-color-05 */