/* Style for title of form */
.titleOfForm {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  /* color: var(--color-body); */
}

/* Style for inputs that belong on lines that have only one or two inputs */
.pairs,
.pairsOfTwo {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 1rem;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
}

/* Style for labels that belong on lines that have only one input */
.pairs_label_full {
  text-align: right;
  padding-right: 0.75rem;
  /* min-width helps with alignment */
  flex: 0 1 25%; /* Allow it to shrink. Grow is set to 0 so it doesn't grow, but it can shrink (1) */
  min-width: 25%;
  overflow-wrap: break-word; /* Wrap the text if it's too long */
}

.pairs_label_full_register {
  min-width: 37.5%;
}

.error_register {
  margin-left: 37.5%;
  margin-right: 37.5%;
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: red;
  font-size: 0.75rem;
}

/* Style for labels on the right side */
.pairs_label_secoundHalf {
  text-align: right;
  padding-right: 0.75rem;
  overflow-wrap: break-word; /* Wrap the text if it's too long */
}

/* Style for labels belongs on lines that have one or two inputs */
.pairs_input_full,
.pairs_input_notFull {
  display: flex;
  padding: 0.5rem; /* For a better look. Padding for all inputs */
  outline: 1px solid rgba(209, 213, 219, 1); /* Outline is used instead of border to prevent divs to jumping when input is clicked */
  border-radius: 0.375rem;
  background-color: #f9f9f9;
}

/* Only for one line "description" textarea height */
.pairs_textarea_full {
  height: 8rem;
}

/* Only for one line inputs width */
.pairs_input_full {
  width: 50%;
}

/* Only for "Price" input width */
.pairs_input_firstHalf_width_12_5proc {
  flex: 0 0 12.5%;
  min-width: 12.5%;
}

/* Only for "Phone" label width */
.pairs_label_secHalf_width_12_5proc {
  flex: 0 1; /* Allow it to shrink */ /* Allow it to shrink */
  width: 12.5%;
}

/* Only for "Phone" input width */
.pairs_input_secHalf_width_25proc {
  /* margin-right: 25%; */
  flex: 1 1 auto; /* Allow it to grow */
  width: 25%;
  margin-right: 25%;
}

/* When the input is clicked */
.pairs_input_full:focus,
.pairs_input_notFull:focus {
  background-color: #ffffff; /* Change the background color when the input is focused */
  outline: 2px solid rgb(0, 0, 0); /* Make border thicker */
}

/* When the input is invalid */
.pairs_input_full:focus:invalid,
.pairs_input_notFull:focus:invalid {
  border-color: rgba(0, 0, 0, 0.899);
}

/* Formik. Yup validation message. When validation isn't passed */
.YupValidation {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

/* Eliminate strange property inheritance */
.addTop {
  margin-top: 0.1rem;
}

/* Eliminate strange property inheritance */
.removeTop {
  margin-top: -1rem;
}

.input_register {
  width: 20rem;
}

@media screen and (max-width: 768px) {
  /* Style for inputs that belong on lines that have only one or two inputs */
  .pairs,
  .pairsOfTwo {
    flex-direction: column;
  }

  /* Style for labels that belong on lines that have only one or two inputs */
  .pairs_input_full,
  textarea,
  .pairs_input_notFull {
    width: 80%;
    margin-right: 0;
  }

  /* Style for labels that belong on lines that have only one input */
  .pairs_label_full {
    display: flex;
    align-items: start;
    justify-content: left;
    width: 80%;
  }

  /* Style for labels that belong on lines that have only one input */
  .pairs_label_full_md {
    display: flex;
    align-items: start;
    justify-content: left;
    width: 80%;
  }

  /* Only for "Price" input*/
  .pairs_input_firstHalf_width_12_5proc {
    margin-bottom: 1rem;
  }

  /* Formik. Yup validation message. Msg when validation isn't passed */
  .YupValidation {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Eliminate strange property inheritance. Set for inputs and labels that belong on lines with two inputs */
  .elimInher {
    margin-right: 20%;
  }

  /* Eliminate strange property inheritance. Set for only one validation message */
  .addTop {
    margin-top: -1rem;
  }

  .pairs_label_full_register {
    min-width: 60%;
    margin-left: -10%;
  }

  .pairs {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .pairs_label_full_register {
    margin-left: 37.5%;
    width: 25%;
  }

  .input_register {
    width: 100%;
    max-width: 20rem;
  }

  .pairs_label_full_register {
    width: 100%;
    min-width: 0rem;
    max-width: 20rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .error_register {
    margin-top: 0rem;
    width: 100%;
    max-width: 20rem;
    margin-left: 0;
    margin-right: 0;
    /* display: block; */
  }

  .form_register {
    align-items: center;

  }
}
