:root {
  --color-primary: #ff3c48;
  --custom-primary-color: #ff3c48;
  --custom-gray-color: #646464;
  --custom-gray-color-02: #6464643b;
  --custom-color-secondary: #cc1119;
  --custom-color-grey2: #cccccc;
}

* {
  box-sizing: border-box;
}

/* Make sure the body takes up the full width and doesn't overflow */
html,
body {
  overflow-x: hidden;
}

html {
  /* #fix-alwaysShowScrollbar */
  overflow-y: scroll;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f2f2f2;
}

.gray {
  color: rgb(100, 100, 100);
}

.container-workaround {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.inputSize1 {
  height: 2.7rem;
  padding: 0.5rem;
}

.cssTitle {
  position: relative; /* For #text_doubleLine. Necessary for the absolute positioning of the pseudo-element */
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  border-bottom: 0.188rem solid var(--custom-gray-color-02); /* for #text_doubleLine. Gray border for the entire width */
  padding-bottom: 0.625rem;
  margin-bottom: 0.938rem;
  width: 100%; /* for #text_doubleLine */
  /*display: inline-block;*/ /* Ensure it wraps only around the content */
}

/* For #text_doubleLine. Add pseudo line */
.cssTitle::after {
  content: '';
  position: absolute; /* Allows positioning within the parent element */
  bottom: -0.17rem; /* Moves down by 0.150rem to align with the gray border */
  left: 0; /* Moves left to align with start of the gray border */
  width: 18%;
  border-bottom: 0.188rem solid var(--color-primary);
}

.gray-line {
  position: relative; /* For #text_doubleLine. Necessary for the absolute positioning of the pseudo-element */
  margin-bottom: 0.625rem;
  border-bottom: 0.063rem solid var(--custom-gray-color-02); /* for #text_doubleLine. Gray border for the entire width */
  padding-bottom: 0.625rem;
  margin-bottom: 0.938rem;
  width: 100%; /* for #text_doubleLine */
  /*display: inline-block;*/ /* Ensure it wraps only around the content */
}

.cssTitle2 {
  position: relative; /* For #text_doubleLine. Necessary for the absolute positioning of the pseudo-element */
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  border-bottom: 0.188rem solid var(--custom-gray-color-02); /* for #text_doubleLine. Gray border for the entire width */
  padding-bottom: 0.625rem;
  margin-bottom: 0.938rem;
  /*display: inline-block;*/ /* Ensure it wraps only around the content */
}

/* For #text_doubleLine. Add pseudo line */
.cssTitle2::after {
  content: '';
  position: absolute; /* Allows positioning within the parent element */
  bottom: -0.17rem; /* Moves down by 0.150rem to align with the gray border */
  left: 0; /* Moves left to align with start of the gray border */
  width: 18%;
  border-bottom: 0.188rem solid var(--color-primary);
}
