:root {
  --color-primary: #ff3c48;
  --custom-primary-color: #ff3c48;
  --custom-gray-color: #646464;
  --custom-gray-color-02: #6464643b;
  --custom-color-secondary: #cc1119;
  --custom-color-grey2: #cccccc;
}

* {
  box-sizing: border-box;
}

/* Make sure the body takes up the full width and doesn't overflow */
html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f2f2f2;
}

.gray {
  color: rgb(100, 100, 100);
}

.container-workaround {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
