.formInputAll {
    flex-wrap: wrap;
  }

.formInputImg {
  width: 0px;
  padding-left: 9.75rem;
  height: 9.75rem;
  /* margin: 0 5% 5% 0; */
  background: var(--custom-color-grey-light);
  cursor: pointer; /* Change the cursor to a pointer (hand icon) */
}

.formInputImg:hover {
  background: #f2f2f2;
  transition: background 0.3s ease;
}

.formImageValidation {
    width: 9.75rem;  
}

.selected-files {
  background: var(--custom-color-grey-light);
  width: 9.75rem;  
  /* max-width: 9.75rem; */
  /* min-width: 5rem;  */
  height: 9.75rem;
  transform: translateX(-9.75rem);
  /* margin-top: -9.75rem; */
  margin-right: -9.75rem;
  overflow: hidden
}

.selected-files-ask {
  color: var(--custom-color-grey-light2);
  padding: 0.25rem;
  background-color: rgba(249, 249, 249, 0.808);
}

@media screen and (max-width: 1024px) {
.formInputImg {
  padding-left: 6rem;
  height: 6rem;
}

.formImageValidation {
    width: 6rem;  
}

.selected-files {
  width: 6rem;  
  height: 6rem;
  transform: translateX(-6rem);
  margin-right: -6rem;
}
}

@media screen and (max-width: 454px) {
.formInputImg {
  padding-left: 5rem;
  height: 5rem;
}

.formImageValidation {
    width: 5rem;  
}

.selected-files {
  width: 5rem;  
  height: 5rem;
  transform: translateX(-5rem);
  margin-right: -5rem;
}
}

@media screen and (max-width: 395px) {
.formInputImg {
  padding-left: 3rem;
  height: 3rem;
}

.formImageValidation {
    width: 3rem;  
}

.selected-files {
  width: 3rem;  
  height: 3rem;
  transform: translateX(-3rem);
  margin-right: -3rem;
}
}
